.hr {
    border-bottom: 1px solid gray;
}

.bg {
    background-color: #ade8f4;
}

.border-rounded {
    border-radius: 15px;
}

.bg-darker {
    background-color: #48cae4;
}

.badge-c {
    width: 65px;
    height: 20px;
}

.text-lighter {
    color: #48cae4;
}
.text-darker {
    color: #023e8a;
}

body {
    background: rgb(255, 254, 254);
}

.link {
    text-decoration: none;
    transition: all 1.5;
    color: #023e8a;
}

.link-active {
    color: #2a7be6;
}

.link:hover {
    color: #2a7be6;
}

.btn-darker {
    background-color: #48cae4;
    transition: all 0.5s;
    border: 1px solid #48cae4;
    padding: 6px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.link-header-active {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.link-header {
    color: rgb(139, 139, 139);
    text-decoration: none;
}

.btn-darker:hover {
    background-color: #318c9f;
}
